body{
  padding: 0;
  margin: 0;
  font-size: 1.2em;
}

footer{
  margin: 15px 0;
  font-size: 0.8em;
  text-align: center;
}

.margin_top_none{
  margin-top: 0;
}
.margin_bottom_none{
  margin-bottom: 0;
}

.form_block{
  display: flex;
  flex-direction: column;
}
.form_block > input{
  margin-bottom: 15px;
  padding: 5px;
}
.form_block > button{
  padding: 5px;
  color: white;
  background-color: var(--color_primary);
  border: none;
  border-radius: 5px;
}
.form_block > button:hover{
  background-color: var(--color_primary_dark);
}
.form_block > button:active{
  transform: scale(0.95);
}

/***** Media Query *****/

/* Mobile only*/
@media (max-width: 575px) {
  .app_container{
    width: 100%;
  }

  .section{
    padding: 0 15px;
  }
}

/* Tablette only */
@media (min-width: 576px) and (max-width: 991px) {
  .app_container{
    margin-left: 10%;
    width: 80%;
    max-width: 80%;
  }
}

/* Tablette */
@media (max-width: 991px) {
}

/* Laptop */
@media (min-width: 992px) {
  .app_container{
    margin-left: 20%;
    width: 60%;
    max-width: 60%;
  }
}

/* TV */
@media (min-width: 1441px) {
}
