


/***** Media Query *****/

/* Mobile only*/
@media (max-width: 575px) {
}

/* Tablette only */
@media (min-width: 576px) and (max-width: 991px) {
}

/* Tablette */
@media (max-width: 991px) {
}

/* Laptop */
@media (min-width: 992px) {
  .login_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
  }
  .login_container > h2, .login_container > form{
    width: 100%;
  }
  .login_container > h2{
    text-align: center;
    padding-left: 15px;
  }
}

/* TV */
@media (min-width: 1441px) {
}
